.wrapper {
  max-width: 56rem; /* 1120/16 (1120 é a largura total da sidebar + espaço + feed e 16 é o padrão do rem) */
  margin: -1rem auto; /* auto nas laterais faz com que fique centralizado */
  padding: 0 10rem;

  display: block;
}